html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* post page */

.post-container {
  max-width: 1020px;
  padding: 0 20px;
  margin: 0 auto;
}

.post-container > * {
  padding: 20px 0;
}

.post-container img {
  max-width: 100%; /* Hình ảnh tự động thu nhỏ khi vượt quá kích thước của mainbv */
  height: auto; /* Đảm bảo tỷ lệ khung hình không bị méo */
  display: block;
  margin: 0 auto; /* Canh chỉnh hình ảnh giữa mainbv */

}

.post-container p {
  text-align: justify;
}

.post-container figure {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.post-container figure cite::before {
  content: "-";
  display: inline-block;
  margin-right: 5px;
}

.post-container .heateor_sss_sharing_container {
  display: none;
}
