.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar styles */
.navbar {
  background-color: #333; /* Màu nền của navbar */
  overflow: hidden; /* Xóa bỏ hiển thị khi menu quá dài */
}

.navbar a {
  float: left; /* Căn trái các phần tử menu */
  display: block; /* Hiển thị dạng block */
  color: #f2f2f2; /* Màu chữ của menu */
  text-align: center; /* Căn giữa nội dung của menu */
  padding: 14px 16px; /* Khoảng cách giữa các phần tử */
  text-decoration: none; /* Xóa gạch chân dưới của liên kết */
}

.navbar a:hover {
  background-color: #ddd; /* Màu nền khi di chuột qua */
  color: black; /* Màu chữ khi di chuột qua */
}

/* Active/current link */
.navbar a.active {
  background-color: #666; /* Màu nền của phần tử đang active */
  color: white; /* Màu chữ của phần tử đang active */
}

/* Dropdown container */
.dropdown {
  float: left; /* Căn trái phần tử dropdown */
  overflow: hidden; /* Xóa bỏ hiển thị khi menu quá dài */
}

.dropdown .dropbtn {
  font-size: 16px; /* Cỡ chữ của phần tử dropdown */
  border: none; /* Xóa viền */
  outline: none; /* Xóa đường viền khi focus */
  color: white; /* Màu chữ */
  padding: 14px 16px; /* Khoảng cách giữa các phần tử */
  background-color: inherit; /* Kế thừa màu nền từ navbar */
  font-family: inherit; /* Kế thừa font chữ từ navbar */
  margin: 0; /* Xóa margin */
}

.dropdown-content {
  display: none; /* Mặc định ẩn nội dung dropdown */
  position: absolute; /* Vị trí tuyệt đối */
  background-color: #f9f9f9; /* Màu nền của dropdown */
  min-width: 160px; /* Độ rộng tối thiểu */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Hiển thị shadow */
  z-index: 1; /* Sắp xếp z-index cao nhất */
}

.dropdown-content a {
  float: none; /* Không căn trái các phần tử */
  color: black; /* Màu chữ */
  padding: 12px 16px; /* Khoảng cách giữa các phần tử */
  text-decoration: none; /* Xóa gạch chân dưới */
  display: block; /* Hiển thị dạng block */
  text-align: left; /* Căn trái nội dung */
}

.dropdown-content a:hover {
  background-color: #ddd; /* Màu nền khi di chuột qua */
}

.dropdown:hover .dropdown-content {
  display: block; /* Hiển thị nội dung dropdown khi di chuột vào */
}



.header {
	   background-color: #ecece7;
	    color: #4285f4;
	    padding: 10px;
	    text-align: center;
	  }

	  /* Định dạng thanh điều hướng trên cùng */
	  .topnav {
	    overflow: hidden;
	    background-color: #4285f4;
	  }

	  /* Định dạng link điều hướng */
	  .topnav a {
	    float: left;
	    display: block;
	    color: #4285f4;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	  }

	  /* Thay đổi màu liên kết khi di chuột qua */
	  .topnav a:hover {
	    background-color: #eaeaea;
	    color: white;
	    font-weight: bold
	  }
.header search-form {
    min-width: 250px
}

.footer {
  display: flex;
  color: inherit;
  background-color:  #4285f4;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}


.postGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.postCard {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.postCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.postImage {
  width: 100%;
  height: auto;
}

.postTitle {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.postMeta {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem;
  font-size: 0.8rem;
  color: #666;
}

.iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3; /* Tỷ lệ khung hình 4:3 */
}

.pagination_rounded, .pagination_square {
    display: block;
    margin: 35px auto 0;
    font-size: large;
}

.pagination_rounded ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination_rounded li {
    display: inline-block;
    margin-left: 20px;
}

.pagination_rounded ul li a:hover {
    background: 4285f4;
    color: fff;
    border: 1px solid #4285f4;
}

a.link {
    text-decoration: none;
}

.pagination_rounded .prev {
    border-radius: 35px;
    width: 90px;
    height: 34px;
    line-height: 34px;
}

.pagination_rounded .next {
    border-radius: 35px;
    width: 90px;
    height: 34px;
    line-height: 34px;
}

